*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background */
/* per dopo rgb(236, 229, 221) chat */
body {
  background-color: rgb(236, 229, 221);
}
.barra_blue {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #128C7E;
  height: 100px;
  z-index: -1;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  padding: 20px 0;
}
#contatti {
  width:300px;
  float: left;
  height: 100%;
  background-color: white;
}
#conversazione {
  width: calc( 100% - 300px);
  float: left;
  height: 100%;
  background-color: #e3d9ca;
}
#contatti header {
  border-right: solid 1px #ccc;
}
header {
  height: 60px;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  width: auto;
  height: 50px;
}
.info_contatto_chat {
  display: flex;
}
.info_contatto_chat .nome_accesso {
  /* display: flex; */
}
