*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background */
/* per dopo rgb(236, 229, 221) chat */
body {
  background-color: #f0f0f0;
}
.barra_blue {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #128C7E;
  height: 100px;
  z-index: -1;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  padding: 20px 0;

}
#contatti {
  width:350px;
  float: left;
  height: 100%;
  background-color: white;
  overflow: hidden;
}
#conversazione {
  width: calc( 100% - 350px);
  float: left;
  height: 100%;
  background-color: #ECE5DD;
  position: relative;
  overflow: hidden;
}
#contatti header {
  border-right: solid 1px #ccc;
}
header {
  height: 60px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  width: auto;
  height: 50px;
}
.info_contatto_chat {
  display: flex;
  align-items: center;
  height: 100%;
}
.info_contatto_chat .nome_accesso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7px;
}
.info_contatto_chat .nome_accesso p {
  font-size: 13px;
  color: grey;
}
header .icone {
  padding-right: 10px;
}
header .icone i {
  color: #adadad;
  font-size: 18px;
  padding: 5px;
}
/* contatti */
#contatti .notifiche {
  background-color: #9fe4ed;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  align-items: center;
}
#contatti .notifiche i {
  color: #9fe4ed;
  background-color: white;
  border-radius: 50%;
  padding: 12px;
}
#contatti .notifiche > div {
  padding-right: 10px;
  font-size: 15px;
}
#contatti .notifiche > div a {
  color: grey;
  font-size: 13px;
}
#contatti #cerca_contatto {
  height: 45px;
}
#contatti #cerca_contatto i {
  width: 15%;
  text-align: center;
  color: #ccc;
}
#contatti #cerca_contatto input{
  height: 100%;
  width: 80%;
  border: none;
}
#contatti #lista_contatti li {
  height: 70px;
  position: relative;
}
#contatti #lista_contatti li span{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  color: grey;
}
#contatti .selezionato {
  background-color: #e4ebf7;
}
/* chat */
#conversazione .chat {
  width: 80%;
  margin: 40px auto;
  clear: both;
}
#conversazione .chat .messaggio {
  padding: 17px 12px;
  background-color: white;
  border-radius: 8px;
  width: 150px;
  position: relative;
  clear: both;
  margin-top: 10px;
}
#conversazione .chat .messaggio .ora {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 12px;
  color: #ccc;
}
#conversazione .chat .ricevuto {
  float: left;
  background-color: white;
}
#conversazione .chat .inviato {
  float: right;
  background-color:#DCF8C6;
}
#conversazione footer {
  height: 50px;
  background-color: #f5f0f0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#conversazione footer #messaggio {
  width: 85%;
  height: 90%;
  border-radius: 5px;
  border: none;
}
#conversazione footer i {
  color: grey;
  font-size: 20px;
  padding: 20px;
}
